@model IEnumerable<Ds3App2.Models.Product>

@{
    ViewBag.Title = "Index";
}
<style>
    img {
        width: 100px;
    }

    .zoom:hover {
        transform: scale(2.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
</style>

<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-sm-3">
        <div class="card" style="text-align:center">
            <div class="card-header">
                <h2>@(item.ProductName)</h2>
            </div>
            <div class="card-body">
                <p>
                    <img class="zoom" src="~/ProductImages/@(item.ProductImage)" />
                </p>
                <p>
                    @(item.ProductDescription)
                </p>
                <p style="font-weight:600">
                    Brand: @Html.DisplayFor(modelItem => item.Brand)<br />
                    Price: @(item.Price.ToString("c"))<br />
                    Instock: @Html.DisplayFor(modelItem => item.StockQuantity)<br /><br />
                    <a class="btn btn-outline-secondary" title="Add to cart" href="#" onclick="addItem('@item.Id')"><i class="fas fa-cart-plus"></i> Add to cart</a>
                </p>
            </div>
        </div>
    </div>
    }
</div>
 

<script>
     function addItem(id) {
      $.ajax({
                type: "Get",
                url: "@Url.Action("Create","Carts")?id=" + id,
                async: true,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    location.reload();
                },
                error: function (e) {
                    return;
                }
            });
    }
</script>