@model Ds3App2.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

    <link rel="shortcut icon" href="img/icons/icon-48x48.png" />

    <title>Register </title>

    <link href="~/Design/css/app.css" rel="stylesheet">
</head>

<body>
    <main class="d-flex w-100">
        <div class="container d-flex flex-column">
            <div class="row vh-100">
                <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                    <div class="d-table-cell align-middle">

                        <div class="text-center mt-4">
                            <h1 class="h2">Welcome</h1>
                            <p class="lead">
                                Register so you can access Multiple Features
                            </p>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="m-sm-4">
                                    <div class="text-center">
                                        <img src="~/Design/img/avatars/avatar.jpg" alt="Charles Hall" class="img-fluid rounded-circle" width="132" height="132" />
                                    </div>
                                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="mb-3">
                                            <label class="form-label">First Name</label>

                                            @Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name", @class = "form-control form-control-lg" })
                                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Last Name</label>

                                            @Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name", @class = "form-control form-control-lg" })
                                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Phone Number</label>

                                            @Html.TextBoxFor(m => m.Contact, new { placeholder = "Phone Number", @class = "form-control form-control-lg" })
                                            @Html.ValidationMessageFor(m => m.Contact, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Email</label>

                                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control form-control-lg" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Password</label>

                                            @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control form-control-lg" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Confirm Password</label>
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control form-control-lg" })
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="text-center mt-3">

                                            <input type="submit" style="max-width:100%" class="btn btn-outline-warning btn-block" value="Register" />

                                        </div>
                                    }


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="~/Design/js/app.js"></script>

</body>

</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
