@model IEnumerable<Ds3App2.Models.JobCardProduct>
@using Ds3App2.Models
@{
    ViewBag.Title = "";
    ApplicationDbContext db = new ApplicationDbContext();
    var book = db.Bookings.Find(Model.FirstOrDefault().BookingId);
}
<h2>Job Card : Booking Reference #@(book.Reference)</h2>
<h4>Add Products</h4>
<h6>
    Estimated Cost :  @db.ServiceType.FirstOrDefault(s => s.Type.Trim() == book.ServiceType.Trim()).Price.ToString("C")<br />
</h6>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @if (!item.IsAdded)
                {
                    <a href="#" onclick="add('@item.Id')" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></a>
                }
                else
                {
                    <a href="#" onclick="minus('@item.Id')" class="btn btn-outline-danger btn-sm"><i class="fa fa-minus"></i></a>
                }
            </td>
        </tr>
    }

</table>
@*@if (!Model.Any(m => m.IsAdded))
    {
        <a class="btn btn-outline-dark" href="@(Url.Action("Create",new { id = Model.FirstOrDefault().BookingId }))">Back</a><span>&nbsp;</span><button disabled class="btn btn-outline-success">Done</button>
    }
    else
    {
        <a class="btn btn-outline-dark" href="@(Url.Action("Create",new { id = Model.FirstOrDefault().BookingId }))">Back</a><span>&nbsp;</span><a href="@(Url.Action("GetJobCards", new { id = Model.FirstOrDefault().BookingId }))" class="btn btn-outline-success">Done</a>
    }*@
<a class="btn btn-outline-dark" href="@(Url.Action("Create",new { id = Model.FirstOrDefault().BookingId }))">Back</a><span>&nbsp;</span><a href="@(Url.Action("GetJobCards", new { id = Model.FirstOrDefault().BookingId }))" class="btn btn-outline-success">Done</a>

<script>
     function add(id) {
        $.ajax({
                type: "Get",
                url: "@Url.Action("Add")?id=" + id,
                async: true,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    location.reload();
                },
                error: function (e) {
                    return;
                }
            });
    }
    function minus(id) {
        $.ajax({
                type: "Get",
                url: "@Url.Action("Minus")?id=" + id,
                async: true,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    location.reload();
                },
                error: function (e) {
                    return;
                }
            });
    }
</script>